<div class="hero">
  <!-- Video de fondo -->
  <video autoplay muted playsinline loop>
    <source src="assets/videoInicial.mp4" type="video/mp4" />
    Tu navegador no soporta video HTML5.
  </video>

  <!-- Overlay elegante -->
  <div class="overlay"></div>

  <!-- Contenido centrado -->
  <div class="contenido">
    <img src="assets/logo.avif" alt="Logo" class="logo" />
    <div class="textos">
      <h1>Gastronova</h1>
      <p>Experiencias culinarias que despiertan tus sentidos</p>
    </div>
  </div>

  <!-- Flecha de bajar -->
  <button class="flecha-abajo"  (click)="scrollToMenu()">
    <i class="fas fa-chevron-down"></i>
  </button>
</div>
