$color-primary: #8C2B3A;
$color-secondary: #D9A441;
$color-dark: #1B1B1B;
$color-light: #F4F1EC;
$color-accent: #B0542B;


:root {
--color-primary: #8C2B3A;
--color-secondary: #D9A441;
--color-dark: #1B1B1B;
--color-light: #F4F1EC;
--color-accent: #B0542B;
}
