@use '../../../styles.scss' as vars;

.menu {
  padding: 6rem 3rem;
  background: vars.$color-light;

  &__title {
    font-size: 2.5rem;
    margin-bottom: 2rem;
    text-align: center;
  }

  &__item {
    display: flex;
    justify-content: space-between;
    padding: 1rem 0;
    border-bottom: 1px solid  vars.$color-dark;
  }
}
