<section class="menu">
  <div class="menu__cards">
    <div class="menu__card" [style.backgroundImage]="'url(' + menuDegustacion.image + ')'">
      <div class="menu__overlay">
        <h3>{{ menuDegustacion.title }}</h3>
        <p>{{ menuDegustacion.description }}</p>
        <span class="menu__price">{{ menuDegustacion.price }}</span>
        <a class="menu__link" (click)="openPDF(menuDegustacion.pdf)">Ver más</a>
      </div>
    </div>

    <div class="menu__card" [style.backgroundImage]="'url(' + menuNavidad.image + ')'">
      <div class="menu__overlay">
        <h3>{{ menuNavidad.title }}</h3>
        <p>{{ menuNavidad.description }}</p>
        <span class="menu__price">{{ menuNavidad.price }}</span>
        <a class="menu__link" (click)="openPDF(menuNavidad.pdf)">Ver más</a>
      </div>
    </div>

    <div class="menu__card" [style.backgroundImage]="'url(' + menuCata.image + ')'">
      <div class="menu__overlay">
        <h3>{{ menuCata.title }}</h3>
        <p>{{ menuCata.description }}</p>
        <span class="menu__price">{{ menuCata.price }}</span>
        <a class="menu__link" (click)="openPDF(menuCata.pdf)">Ver más</a>
      </div>
    </div>
  </div>
</section>
