<section class="history">
  <div class="history__container">
    <div class="history__text">
      <h2 class="history__title">Nuestra Historia</h2>
      <p class="history__description">
        Desde nuestros inicios, nos hemos dedicado a crear experiencias culinarias únicas,
        combinando ingredientes de la más alta calidad con técnicas gourmet innovadoras.
      </p>
      <a href="/reservar" class="history__button">Reservar</a>
    </div>
    <div class="history__images">
      <img
        src="https://us.images.westend61.de/0001719132pw/chef-masculino-preparando-ensalada-en-cocina-chef-gourmet-preparando-delicioso-plato-en-cocina-de-restaurante-JLPSF00376.jpg"
        alt="Chef preparando comida"
        class="history__img"
      />

      <img
        src="https://www.ecoleducasse.com/application/files/3816/8031/9507/FOOD_PLATING_AND_PRESENTATION_A_GUIDE_FOR_CULINARY_ARTS_STUDENTS_AND_ASPIRING_CHEFS.png"
        alt="Plato gourmet"
        class="history__img"
      />
    </div>
  </div>
</section>
